nav.menu_nav ul li.btn{
    display: inline-block;
}

figure {
    margin: 0;
}

header {
    list-style-type: none;
}

nav.menu_nav ul li.btn a{
    color: rgb(204, 11, 204);
    background-color: rgb(16, 23, 37);
    text-decoration: none;
    padding: 10px;
    font-size: 10vmin;
}

nav.menu_nav ul li.btn:hover a{
    background-color: rgba(16, 23, 37, 0.555);
    transition: 0.25s all;
}

nav.menu_nav ul li{
    list-style-type: none;
}

h1 {
    padding:50px
}

div.poemee {
    display: table; /* keep the background color wrapped tight */
    margin: 0px auto 0px auto; /* keep the table centered */
    padding:80px;
    font-size:20px;
    background-color: rgba(155, 158, 155, 0.233);
}

p{
    font-size: 2vmin;
    text-align: center;
    color: rgb(255, 0, 242)
}

p.poeme{
    font-size: 50px;
    text-align: center;
    color: rgb(255, 0, 242)
}

p.titre{
    padding:50px
}

h1.titre{
    color: rgb(226, 7, 135);
    background-color: rgba(0, 0, 0, 0.472);
}

body{
    background: url("../img/dessin_de_babet.png") no-repeat; background-size: 100%;
    background-attachment:fixed;
}

h1.test1{
    color: rgb(77, 153, 27);
}
footer{
    background-color: rgba(0, 0, 0, 0.24);
}
header{
    background-color: rgba(0, 0, 0, 0.24);
}
div#content div.video{
    background-color: rgba(0, 0, 0, 0.198);
}

div.video{
    text-align: center;
}

a.button {
    color: rgb(204, 11, 204);
    background-color: rgb(0, 0, 0);
}

a.button:hover{
    padding: 10px;
    background-color: rgba(16, 23, 37, 0.555);
    transition: 0.25s all;
}

p.poeme {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    }
p.poeme:hover {
    transform: scale(1.1);
    }